@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
:root {
  /* dark shades of primary color*/
  /* primary/main color */
  --hlwn-pumpkin-1: hsl(26, 100%, 50%);
  --hlwn-pumpkin-2: hsl(28, 100%, 50%);
  --hlwn-pumpkin-3: hsl(31, 100%, 50%);
  --hlwn-pumpkin-4: hsl(34, 100%, 50%);
  /* Text Colour */
  --hlwn-pumpkin-5: rgb(255, 183, 66);
  /* Purple Backgrounds */
  --hlwn-purple-1: hsl(271, 100%, 14%);
  /* Main Background Color */
  --hlwn-purple-2: hsl(271, 85%, 23%);
  --hlwn-purple-3: hsl(270, 73%, 35%);
  --hlwn-purple-4: hsl(272, 63%, 46%);
  --hlwn-purple-5: hsl(273, 68%, 59%);

  --hlwn-grey-7: hsl(211, 27%, 70%);
  --hlwn-grey-8: hsl(210, 31%, 80%);
  --hlwn-grey-9: hsl(212, 33%, 89%);
  --hlwn-grey-10: hsl(210, 36%, 96%);
  --hlwn-white: #fff;
  --hlwn-red-dark: hsl(0, 98%, 50%);
  --hlwn-red-light: hsl(0, 100%, 50%);
  --hlwn-green-dark: hsl(125, 67%, 44%);
  --hlwn-green-light: hsl(125, 71%, 66%);
  --hlwn-black: #222;
  --ff-primary: "Creepster", sans-serif;
  --ff-secondary: "Source Sans Pro", sans-serif;
  --transition: all .9s ease;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px hsla(101, 90%, 49%, 0.2);
  --green-shadow: 0 13.36px 8.896px hsla(93, 92%, 47%, 0.91), 0 -2px 1px #54ed0c;
  --eyes-shadow: 2px 6.36px 8.896px hsla(98, 48%, 18%, 0.91),
    0px -0px 11px hsl(96, 97%, 36%);
  --max-width: 1170px;
  --fixed-width: 620px;
}

body {
  font-size: 1rem;
  
 
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  background-color: var(--hlwn-purple-5);
  line-height: 1.5;
  font-size: 0.9rem;
  margin: 0;
}

.house1-body {
  background-image: url(../img/house.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.house2-body {
  background-image: url(../img/house2.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.house3-body {
  background-image: url(../img/pumpkinhouse.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.house4-body {
  background-image: url(../img/hauntedhouse5.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.game1-body {
  background-image: url(../img/hauntedhouse1.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.game2-body {
  background-image: url(../img/hauntedhouse2.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.game3-body {
 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.game4-body {
  background-image: url(../img/house_edit.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.tot-house1{
  background-image: url(../img/doorway2.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.tot-house2{
  background-image: url(../img/halloweendoor2.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.tot-house3{
  background-image: url(../img/halloweendoor.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.tot-house4{
  background-image: url(../img/doorway5.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
  color: var(--hlwn-grey-8);
  letter-spacing: 4px;
  font-family: var(--ff-secondary);
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

h6 {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  font-family: var(--ff-secondary);
  color: var(--hlwn-grey-8);
  text-shadow: var(--light-shadow);
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

p {
  margin-bottom: 0.25rem;
  color: var(--hlwn-red-dark);
  font-weight: 400;
  text-shadow: var(--green-shadow);
  font-size: 1.6rem;
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 0.8rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section {
  padding: 4rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

nav {
  background: var(--hlwn-purple-2);
  background-image: linear-gradient(90deg, transparent 50%, #190b20 50%);
  background-size: 52px;
  box-shadow: inset 0 0 100px var(--hlwn-black);
  padding: 1.25rem 1rem;
  position: relative;
}

nav::before,
nav::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
}

nav::before {
  /* Red gradients for blood */
  background: linear-gradient(var(--hlwn-red-light) 50%, transparent 90%),
    radial-gradient(var(--hlwn-red-dark) 40%, transparent 10%),
    radial-gradient(var(--hlwn-red-light) 11%, transparent 10%),
    radial-gradient(var(--hlwn-red-dark) 23%, transparent 20%),
    radial-gradient(var(--hlwn-red-light) 5%, transparent 15%);
  background-size: 100% 100%, 100px 400px, 100px 300px, 103px 173px, 77px 200px;
  background-position: 0 0, -97% -78%, 71% 0%, 7% 23%, -5% 49%;
  /* Background blend for bleed effect */
  mix-blend-mode: multiply;
  /* Mouse ignore blood */
  pointer-events: none;
  /* Hide before hover transition */
  opacity: 0;
  transform: translateY(-100%);
  /* Mouseout effect */
  transition: opacity 2s linear, transform 1s 2s linear;
  height: 100%;
  top: 0;
}
nav:hover::before {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s 0s, transform 5s 0s linear;
}
nav::after {
  background-image: radial-gradient(#07050a 40%, transparent 41%),
    radial-gradient(#07050a 40%, transparent 41%);
  background-size: 104px 104px;
  background-position: 0 0, 52px 0;
  height: 104px;
  bottom: -52px;
  z-index: -1;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--hlwn-pumpkin-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--hlwn-pumpkin-1);
  transform: rotate(90deg);
}

.logo {
  height: 30px;
  color: var(--hlwn-pumpkin-5);
  letter-spacing: 4.3px;
  text-shadow: var(--green-shadow);
  margin-top: 0;
  font-family: var(--ff-primary);
}

.links a {
  font-family: var(--ff-primary);
  color: var(--hlwn-pumpkin-5);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.links a:hover {
  background: var(--hlwn-purple-1);
  color: var(--hlwn-pumpkin-1);
  padding-left: 1.5rem;
  letter-spacing: 0.2em;
}


.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 10rem;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.mid-hdr {
  color: var(--hlwn-pumpkin-4);
  font-size: 1.3rem;
  letter-spacing: 1.8px;
  text-shadow: var(--eyes-shadow);
  text-align: center;
  font-family: var(--ff-primary);
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.enter-here {
  color: var(--hlwn-purple-1);
  font-weight: 500;
}

.pumpkin-hldr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pumpkin-img {
  width: 25%;
  height: auto;
  margin-bottom: 1rem;
}

.pumpkin-img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(2deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(2deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-2deg);
  }
}

#page-link {
  display: none;
  width: 150px;
  height: auto;
  margin-bottom: 1rem;
  
}

#page-link:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.continue-btn-img {
  width: 100%;
  padding: 10px;
  /* background-color: var(--hlwn-purple-5); */
  border-radius: 20px;
}
/* Video Styling - Brian */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient( var(--hlwn-purple-1), var(--hlwn-black));
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: all 3s ease;
  
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

.preloader__item {
  border-radius: 50%;
  border: 8px solid var(--hlwn-purple-1)
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.video-container-candy-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180%;
  object-fit: cover;
  z-index: -2;
}
/* switch button */

.switch-btn {
  position: absolute;
  bottom: 7%;
  left: 7%;
  width: 7rem;
  height: 2rem;
  display: flex;
  border-radius: var(--radius);
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: var(--transition);
}
.switch-btn span {
  display: inline-block;
  font-size: 0.65rem;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--hlwn-pumpkin-1);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.1px;
}
.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--hlwn-purple-3);
  border-radius: var(--radius);
  margin: 0;
  display: block;
  transition: var(--transition);
}
.slide .switch {
  left: 50%;
}






/* <<<<<<<<< Candy Game (Brian) >>>>>>>>>>*/

.candygame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
}

.candy-col {
  background-color: rgb(54, 53, 53); /* Fallback color */
  background-color: rgba(34, 33, 33, 0.6);
}

.warning {
  margin-top: 0;
  animation: spooky 3.5s linear infinite alternate;
  text-shadow: 2px 12px 8px #01790b;
}

.candy-intro-txt {
  text-align: center;
  font-size: 1rem;
  line-height: 2;
  /* blur background */
  background-color: rgb(54, 53, 53);
  background-color: rgba(34, 33, 33, 0.5);
  padding: 1rem;
  border: 2px solid darkgrey;
  box-shadow: var(--dark-shadow);
  font-family: var(--ff-primary);
  font-weight: 300;
  color: var(--hlwn-pumpkin-1);
  animation: spooky 3.5s linear infinite alternate;
  text-shadow: 2px 2px 14px #01790b;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.candy-col p {
  color: var(--hlwn-grey-10);
  text-shadow: none;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-family: var(--ff-secondary);
  letter-spacing: 2px;
  font-weight: 300;
  text-shadow: 1px 1px black;
}

.puzzle {
  color: var(--hlwn-pumpkin-1);
  padding: 10px;
  margin-top: 1rem;
  animation: spooky 3.5s linear infinite alternate;
  text-shadow: 2px 12px 8px #01790b;
}

#message-el {
 
  margin: 0;
  text-align: center;
  font-size: 2.1rem;
  font-family: var(--ff-primary);
  font-weight: 300;
  color: var(--hlwn-pumpkin-5);
  animation: spooky 3.5s linear infinite alternate;
  text-shadow: 4px 4px 18px #026d0b;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  width: 100%;
  padding: 0 20px;
  animation: text-fade-in 1s ease forwards;
}

@keyframes text-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spooky {
  0% {
    text-shadow: 2px -2px 18px #25bb32;
  }
  10% {
    text-shadow: -3px -1px 12px #25bb32;
  }
  30% {
    text-shadow: -4px 3px 15px #25bb32;
  }
  50% {
    text-shadow: 2px 1px 8px #25bb32;
  }
  70% {
    text-shadow: -3px -2px 13px #25bb32;
  }
  90% {
    text-shadow: -2px 1px 10px #25bb32;
  }
  100% {
    text-shadow: 3px -2px 18px #25bb32;
  }
}

.gravestone {  
  background-image: url(../img/candygrave2bgc.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 600px;
  width: 100%;
  padding: 1rem;
}

#candy-el {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--hlwn-white);
  text-shadow: 4px 4px 4px #7a027a, 2px 2px 2px #ec06ec, 0px 4px 4px #880288;
  
}


#candy-el2 {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--hlwn-white);
  text-shadow: 4px 4px 4px #7a027a, 2px 2px 2px #ec06ec, 0px 4px 4px #880288;
  transition: 2s all ease;
}

#sum-el {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  color: var(--hlwn-white);
  text-shadow: 4px 4px 4px #7a027a, 2px 2px 2px rgb(83, 69, 69), 0px 4px 4px #000;
  transition: 2s all ease;
}

#btn-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

#candy-game-btn {
  display: block;
  width: 10em;
  padding: 6px 10px;
  font-size: 1rem;
  margin: 10px;
  background-color: #999;
  background-image: linear-gradient(180deg, #ccc, #999);
  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;
  border-left: 4px solid #666;
  border-bottom: 4px solid #666;
  float: left;
  margin: .9rem 2rem;
  text-decoration: none;
  background: #b4b3b3;
  box-shadow: 10px 10px 15px #4b494b, -10px -10px 15px #737173;
  transition: box-shadow 0.8s, border-top 0.8s, border-right 0.8s;
}

#candy-game-btn:hover {
  box-shadow: inset 10px 10px 20px #4b494b, inset -10px -10px 20px #737173;
  border-top: 3px solid #666;
  border-right: 3px solid #666;
}


small {
  color: grey;
}

.exit {
  color: var(--hlwn-red-dark);
  font-size: 14px;
}

@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    place-items: center;
    gap: 3rem;
    width: 95vw;
  }
  .pumpkin-img {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
    justify-content: flex-end;
  }

  .links a {
    padding: 0 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--hlwn-pumpkin-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--hlwn-pumpkin-1);
  }
}

@media screen and (min-width: 800px) {
  .links {
    width: 50%;
  }
}

@media screen and (max-width: 660px) {
  .deadline-format span {
    letter-spacing: 2px;
    font-size: 0.6rem;
  }
  .deadline h4:not(.expired) {
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
    letter-spacing: var(--spacing);
  }

  .deadline-format {
    color: var(--hlwn-red-dark);
    text-shadow: var(--green-shadow);
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
  }

  .sml-hdr {
    font-size: 1.1rem;
    text-align: center;
  }
}
/* zsvwg game CSS */
#zsvwg-flex {
      height: 60%;
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      align-items: end;
      margin: 0 auto;
}
.wepon-buttons{
  height: 20rem;
  width: 12rem;
  border: 3px solid black;
  border-radius: 5px;
  background-color: grey;
}
button > img:hover{
  height: 150px;
  width: 150px;
}
/*Score for player and computer*/
#zsvwg-scores {
  display: flex;
  margin: 1rem 0;
  justify-content: space-evenly;
  margin: 3rem 0;
}
#zsvwg-scores>p {
  font-size: 2rem;
  color: white;
  background-color: brown;
  border-radius: 10px;
}
.zsvwg-modal {	
  display: none;	
  z-index: 3;	
  position: fixed;	
  left: 0;	
  top: 0;	
  height: 100%;	
  width: 100%;	
  overflow: auto;	
  background-color: rgba(0, 0, 0, 0.4);	
  text-align: centre;	
}	
.zsvwg-modal-content {	
  background-color: #f4f4f438;	
  margin: 30% auto;	
  padding: 15px;	
  width: 80%;	
  justify-content: center;	
  overflow: auto;	
  border: rgba(128, 128, 128, 0.82) 4px solid;	
  border-radius: 10px;	
  height: fit-content;	
  text-align: center;	
}
.zsvwg-gameButton {	
  width: 35%;	
  height: auto;	
  background-color: hsl(125, 67%, 44%);	
  color: white;	
  border-radius: 10px;	
  padding: 1rem;	
  font-size: 1rem;	
  border: hsl(271, 100%, 14%)	
}	
.zsvwg-gameButton:hover {	
  background-color: hsl(0, 98%, 50%);	
}
/* Whack-a-Vamp CSS - game 2 */
.whack-a-vamp-container { 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e20e0e;
}
.whack-a-vamp-square {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #e69c2d;
}
.whack-a-vamp-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 100vh;
}
.vamp {
  background-image: url("../img/vampire.png");
  background-size: cover;
  z-index: 1;
}
.hit {
  background-image: url("../img/coffin.png");
  background-size: cover;
  z-index: 1;
}

/* Find key CSS - game 2 */
.find-key-container { 
  display: flex;
  align-items: end;
  justify-content: center;
  color: #e20e0e;
}
.find-key-square {
  width: 80px;
  height: 80px;
}
.find-key-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: end;
  width: 90%;
  height: 90vh;
  }

.center-grid{
  display: flex;
  justify-content: center;

}
.key {
  background-image: url("../img/hiddenkey.png");
  background-size: cover;
  z-index: 1;
}

/*continue button*/
.continue-button{
  height: 15rem;
  width:auto
}
.continue-story-flex{
  display: flex;
  justify-content: center;
  align-items: end;
  height: 1100px;
}
.continue-button-house{
  height: 10rem;
  width:auto
}
.full-key{
  height: 200px;
  padding: 4rem 0;
}
.key-modal {	
  display: none;	
  z-index: 3;	
  position: fixed;	
  left: 0;	
  top: -150;	
  height: 100%;	
  width: 100%;	
  overflow: hidden;	
  background-color: rgba(0, 0, 0, 0.4);	
  text-align: centre;	
}	